
.jsondiffpatch-delta {
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Courier, monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.jsondiffpatch-delta ul {
    list-style-type: none;
    padding: 0 0 0 20px;
    margin: 0;
}

.jsondiffpatch-delta li {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.jsondiffpatch-value {
    display: inline-block;
    padding: 2px 3px;
    border-radius: 3px;
}

.jsondiffpatch-property-name {
    display: inline-block;
    padding: 2px 0;
    vertical-align: top;
    margin-right: 5px;
}

.jsondiffpatch-property-name:after {
    content: ': ';
}

.jsondiffpatch-child-node-type-array>.jsondiffpatch-property-name:after {
    content: ': [';
}

.jsondiffpatch-child-node-type-object>.jsondiffpatch-property-name:after {
    content: ': {';
}

.jsondiffpatch-added .jsondiffpatch-property-name,
.jsondiffpatch-added .jsondiffpatch-value,
.jsondiffpatch-added pre {
    background: #ddf8dd;
}

.jsondiffpatch-modified .jsondiffpatch-property-name,
.jsondiffpatch-modified .jsondiffpatch-value,
.jsondiffpatch-modified pre {
    background: #fcf4cd;
}

.jsondiffpatch-deleted .jsondiffpatch-property-name,
.jsondiffpatch-deleted .jsondiffpatch-value,
.jsondiffpatch-deleted pre {
    background: #fdd;
    text-decoration: line-through;
}

.jsondiffpatch-moved .jsondiffpatch-property-name,
.jsondiffpatch-moved .jsondiffpatch-value,
.jsondiffpatch-moved pre {
    background: #fcf4cd;
}

.jsondiffpatch-textdiff-original,
.jsondiffpatch-textdiff-patched {
    display: inline-block;
}

.jsondiffpatch-textdiff-original pre,
.jsondiffpatch-textdiff-patched pre {
    display: inline-block;
}

.jsondiffpatch-textdiff-original,
.jsondiffpatch-textdiff-original pre {
    text-decoration: line-through;
    background: #fdd;
}

.jsondiffpatch-textdiff-patched,
.jsondiffpatch-textdiff-patched pre {
    background: #ddf8dd;
}

.jsondiffpatch-moved-arrow {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iIzg4OCIgZD0iTTIgNmwxMCA1VjF6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: center center;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    opacity: .4;
}

.jsondiffpatch-node {
    cursor: pointer;
}

.jsondiffpatch-node:hover {
    background: #f5f5f5;
}

.jsondiffpatch-node-collapsed .jsondiffpatch-value,
.jsondiffpatch-node-collapsed>ul {
    display: none;
}

.jsondiffpatch-node-collapsed-by-default.jsondiffpatch-node-collapsed>.jsondiffpatch-value,
.jsondiffpatch-node-collapsed-by-default.jsondiffpatch-node-collapsed>ul {
    display: inline-block;
}

.jsondiffpatch-node-collapsed-by-default.jsondiffpatch-node-collapsed .jsondiffpatch-node-collapsed-by-default {
    display: none;
}

.jsondiffpatch-node-collapsed:before {
    content: '+';
    font-size: 14px;
    padding: 0px 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    color: #888;
    display: inline-block;
    line-height: 10px;
    height: 12px;
}

.jsondiffpatch-node-collapsed>.jsondiffpatch-property-name:after {
    content: ': ...';
}

.jsondiffpatch-unchanged>.jsondiffpatch-property-name,
.jsondiffpatch-unchanged>.jsondiffpatch-value,
.jsondiffpatch-unchanged>li>.jsondiffpatch-property-name,
.jsondiffpatch-unchanged>li>.jsondiffpatch-value {
    opacity: .6;
}

.jsondiffpatch-unchanged:hover>.jsondiffpatch-property-name,
.jsondiffpatch-unchanged:hover>.jsondiffpatch-value,
.jsondiffpatch-unchanged>li:hover>.jsondiffpatch-property-name,
.jsondiffpatch-unchanged>li:hover>.jsondiffpatch-value {
    opacity: 1;
}

.jsondiffpatch-child-node-type-array>ul:after {
    content: ']';
}

.jsondiffpatch-child-node-type-object>ul:after {
    content: '}';
}

.jsondiffpatch-error {
    background-color: pink;
    border: 1px solid red;
    padding: 2px;
}
